$color-background: #333;
$color-calculator: #000000;
$color-calculator-letter: #ffff;
$btn-operation: #ee9406;
$btn-number: #2f2f2f;
$btn-hover: #eaeaea;
$btn-clear: #f0595f;
$btn-clear-hover: #f17377;
$btn-equal: #ee9406;

 